.chessboard {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}

.chessboard > div {
  width: 70px;
  height: 70px;
  border: 1px solid black;
}

.chessboard > div.black {
  background-color: #BB8863;
}

.chessboard > div.white {
  background-color: #FFD9B5;
}
